[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
"flake8" = "*"
yapf = "*"
pytest = "*"

[packages]
scrapy = "*"
inscriptis = "*"

[requires]
# python_version = "3.4"
