[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
"flake8" = "*"
yapf = "*"
pytest = "*"
ipython = "*"

[packages]
"beautifulsoup4" = "*"
scrapy = "*"
inscriptis = "*"

